<div class="jumbotron jumbotron-fluid bg-primary text-white mb-0">
  <div class="container text-center">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">Mongoose and Cheerio Web Scraper App. Get articles then select one to comment on!</p>
  </div>
</div>