{{!-- JUmbotron to display above the sticky navbar so that it is hidden on scroll down. --}}
<div class="jumbotron jumbotron-fluid text-center bg-dark text-white my-0 py-1">
  <h1 class="display-3">IFLS Scraper</h1>
  <hr>
  <p class="lead">Mongoose and Cheerio Web Scraper App.<br> View articles, Select one to comment on, Or pull new articles!</p>
</div>