{{!-- JUmbotron to display above the sticky navbar so that it is hidden on scroll down. --}}
<div class="jumbotron jumbotron-fluid text-center rounded bg-dark text-white my-0 py-1">
  <h1 class="display-3">Tech News Scraper</h1>
  <hr>
  <h2 class="lead">
    Mongoose and Cheerio Web Scraper App.
    <br class="my-3"> 
    View articles, Select one to comment on, Or pull new articles!
  </h2> 
</div>