<div class="jumbotron jumbotron-fluid bg-secondary text-center rounded">
  <h1 class="display-4 m-0 mb-3">No Articles to display currently.</h1>
  <a class="btn btn-block btn-light" href="/scrape"><i class="fas fa-newspaper"> Scrape New Articles</i></a>
  <small class="text-white">Scraping new articles may take a few seconds..</small>
</div>