<div class="jumbotron jumbotron-fluid bg-secondary text-center">
  <div class="container-fluid">
    <h1 class="mb-3">No Articles to display currently. </h1>
    <button type="button" class="btn btn-block btn-outline-light get-articles" href="#"> <i class="fas fa-newspaper"> Scrape New IFLS Technology Articles</i></button>
  </div>
</div>